extends layout

block app-content

	.row-fluid
		.col-md-9
			.row




				.col-md-12(ng-controller='teamsCtrl')
					h3 Teams
					hr
					.row
						.col-md-4
							br
							form(role='form', ng-submit='Team.save(team)')
								.form-group
									label(for='name') Name
									input#name.form-control(type='text', placeholder='Enter name', ng-model='team.name')
								button.btn.btn-default(type='submit') Save
								button.btn.btn-link(type='reset', ng-show='team.name', ng-click='clearForm()') Clear form
						.col-md-8
							br
							.panel
								.panel-body(ng-hide='teams.length > 0')
									p There are no team. Please add some.

								.panel-body(ng-show='teams.length > 0')
									div.text-right
										form.form-inline(role='form')
											.checkbox
												label
													strong Enable: &nbsp;
											.checkbox
												label
													input(type='checkbox',
													ng-model='broker.auth.teams["teams.save"]',
													ng-change='privilage( "teams", "teams.save" )')
													| &nbsp;Save
											.checkbox
												label &nbsp;|&nbsp;
											.checkbox
												label
													input(type='checkbox',
													ng-model='broker.auth.teams["teams.remove"]',
													ng-change='privilage( "teams", "teams.remove" )')
													| &nbsp;Delete
									hr

									//p
									//	small: pre {{broker.auth.teams| json}}

									table.table.table-striped.ng-cloak
										thead
											tr
												th Name
												th
										tbody
											tr(ng-repeat='team in teams')
												td {{team.name}}
												td.text-right
													.btn-group-sm
														button.btn.btn-default.btn-sm(ng-click='Team.edit(team)') edit
														button.btn.btn-default.btn-sm(ng-click='Team.remove(team.id)') delete





				.col-md-12(ng-controller='playersCtrl')
					h3 Players
					hr
					.row
						.col-md-4
							br
							form(role='form', ng-submit='Player.save(player)')
								.form-group
									label(for='team') Team
									select.form-control(ng-model='player.team', ng-options='team.id as team.name for team in teams')
										option(value='') - No team -
								.form-group
									label(for='name') Name
									input#name.form-control(type='text', placeholder='Enter name', ng-model='player.name')
								.form-group
									label(for='position') Position
									select.form-control(ng-model='player.position', ng-options='position for position in positions')
										option(value='') Choose a position
								.form-group
									label(for='goals') Goals
									.row
										.col-xs-6
											input#goals.form-control(type='number', placeholder='Goals', min='0', max='120',ng-model='player.goals')
								button.btn.btn-default(type='submit') Save
								button.btn.btn-link(type='reset', ng-show='player.name', ng-click='clearForm()') Clear form
						.col-md-8
							br
							.panel
								.panel-body(ng-hide='players.length > 0')
									p There are no players. Please add some.

								.panel-body(ng-show='players.length > 0')
									div.text-right
										form.form-inline(role='form')
											.checkbox
												label
													strong Enable: &nbsp;
											.checkbox
												label
													input(type='checkbox',
													ng-model='broker.auth.players["players.save"]',
													ng-change='privilage( "players", "players.save" )')
													| &nbsp;Save
											.checkbox
												label &nbsp;|&nbsp;
											.checkbox
												label
													input(type='checkbox',
													ng-model='broker.auth.players["players.remove"]',
													ng-change='privilage( "players", "players.remove" )')
													| &nbsp;Delete
									hr

									//p
									//	small: pre {{broker.auth.players | json}}

									table.table.table-striped.ng-cloak
										thead
											tr
												th Team
												th Name
												th Position
												th Goals
												th

										tbody
											tr(ng-repeat='player in players')
												td {{teams | translateTeamId : player.team}}
												td {{player.name}}
												td {{player.position}}
												td {{player.goals}}
												td.text-right
													.btn-group-sm
														button.btn.btn-default.btn-sm(ng-click='Player.edit(player)') edit
														button.btn.btn-default.btn-sm(ng-click='Player.remove(player.id)') delete

										tfoot
											tr
												td(colspan='5')
													span.pull-right: small.text-muted {{promised}}




				.col-md-12
					hr
					button.btn.btn-mini.btn-default(ng-click='showSubscriptions()') Show subscriptions
					span &nbsp;&nbsp;&nbsp;&nbsp;
					button.btn.btn-mini.btn-default(ng-click='privilage("*", "save", false)') Block all save
					button.btn.btn-mini.btn-default(ng-click='privilage("*", "save", true)') Enable all save
					span &nbsp;&nbsp;&nbsp;&nbsp;
					button.btn.btn-mini.btn-default(ng-click='privilage("*", "remove", false)') Block all remove
					button.btn.btn-mini.btn-default(ng-click='privilage("*", "remove", true)') Enable all remove
					span &nbsp;&nbsp;&nbsp;&nbsp;
					button.btn.btn-mini.btn-danger(ng-click='nuke()') Nuke it from orbit!






		.col-md-3
			h3 Events
			hr

			div.text-right
				form.form-inline(role='form')
					.checkbox
						label
							strong Log: &nbsp;
					.checkbox
						label
							input(type='checkbox')
							// TODO: Still working?
							//logs.actions.self.active
							| &nbsp;Actions
					.checkbox
						label &nbsp;|&nbsp;
					.checkbox
						label
							input(type='checkbox')
							| &nbsp;System
			hr

			ul.nav.nav-tabs(role='tablist')
				li.active
					a(href='#actions', role='tab', data-toggle='tab')
						| Actions &nbsp;
						span.label.label-default {{broker.logs.actions.list.length}}
				li
					a(href='#system', role='tab', data-toggle='tab')
						| System &nbsp;
						span.label.label-default {{broker.logs.system.list.length}}
			div.tab-content
				div#actions.tab-pane.fade.active.in
					logs(data='broker.logs.actions.list')
				div#system.tab-pane.fade
					logs(data='broker.logs.system.list')