extends layout

block navbar
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#/') ngEventBus

block footer
	footer
		.container
			.row
				.col-md-12
					ul
						li(ng-repeat='log in logs') {{log}}


block app-content
	.row(ng-controller='clubController')

		.col-lg-4
			h3 Player
			hr

			form(role='form',
			ng-submit='savePlayer(player)')

				.form-group
					label(for='name') Name
					input#name.form-control(type='text',
					placeholder='Enter name',
					ng-model='player.name')

				.form-group
					label(for='position') Position
					select.form-control(ng-model='player.position',
					ng-options='position for position in positions')
						option(value='') Choose a position

				.form-group
					label(for='goals') Goals
					.row
						.col-xs-4
							input#goals.form-control(type='number',
							placeholder='Goals',
							min='0',
							max='120',
							ng-model='player.goals')

				button.btn.btn-default(type='submit') Save

				button.btn.btn-link(type='reset',
				ng-show='player.name',
				ng-click='clearForm()') Clear form

		.col-lg-8
			h3 Team
			hr

			.panel

				.panel-body(ng-hide='players.length > 0')
					p There are no players. Please add some.

				.panel-body(ng-show='players.length > 0')
					table.table.table-hover
						thead
							tr
								th #
								th Name
								th Position
								th Goals
								th Actions

						tbody
							tr(ng-repeat='player in players')
								td {{player.id}}
								td {{player.name}}
								td {{player.position}}
								td {{player.goals}}
								td
									.btn-group-sm
										button.btn.btn-default.btn-sm(ng-click='editPlayer(player)') edit
										button.btn.btn-default.btn-sm(ng-click='deletePlayer(player.id)') delete
			//hr
			//.panel
			//	.panel-body {{players}}
			//
			//hr
			//.panel
			//	.panel-body {{players}}